.applicationForm {
  width: 100%;
  background-color: var(--main-background);
}

@media screen and (min-width: 768px) {
  .applicationForm {
    width: var(--width-application-form);
    height: 100%;
  }

}

@media screen and (min-width: 1100px) {
  .applicationForm {
    /*max-height: 700px;*/
    height: max-content; /* ???? */
  }
}
