.content {
  display: flex;
  flex-direction: column;
  background-color: var(--main-background);
  height: 100%;
  color: var(--text-main);
}

.mainText {
  width: 100%;
  background-color: var(--text-white);
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1100px) {
  .content {
    padding: 0 var(--padding-content);
  }

  .mainText {
    width: calc(100% - var(--width-application-form));
  }
}
