.content {
  display: flex;
  flex-direction: column;
  background-color: var(--main-background);
  color: var(--text-main);
}

@media screen and (min-width: 768px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1100px) {
  .content {
    padding: 40px var(--padding-content-desktop) 30px;
    box-sizing: border-box;
    height: 100%;
  }
}
