.mainText {
  width: 100%;
  background-color: var(--text-white);
  outline: 1px solid rgba(160, 156, 166, 0.3);
  padding: 10px var(--padding-mobile) var(--padding-mobile);
  box-sizing: border-box;
}

.title {
  font-size: var(--font-title);
  font-family: 'Quantico-Bold', serif;
  margin-bottom: 15px;
  text-align: center;
}

.paragraph {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .title {
    text-align: left;
  }
}

@media screen and (min-width: 1100px) {
  .mainText {
    width: calc(100% - var(--width-application-form));
  }
}

