.mainMenu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  font-size: var(--font-main);
  line-height: 2.2;
}

.mainMenu:not(.mainSubMenu) {
  padding-top: 10px;
}

.mainSubMenu {
  line-height: 1.5;
}

.mainMenu a {
  text-decoration: none;
  color: var(--text-white);
  padding-left: 20px;
}

.mainMenu a:hover {
  color: var(--color-pink);
}

.submenu {
  display: none;
  width: 180px;
  position: absolute;
  top: 12px;
  left: 140px;
  background: var(--color-pink);
  border-radius: 8px;
}

.submenu .menuItem a {
  color: black;
  font-size: var(--font-main);
  padding: 7px 115px 7px 20px;
}

.mainSubMenu .menuItem:not(:last-child) {
  border-bottom: 1px solid var(--color-submenu-border);
}

.submenu .menuItem:hover {
  background-color: var(--color-submenu-background);
}

.submenu .menuItem a:hover {
  color: var(--text-white);
}

.displaySubmenu {
  display: block;
}

.submenuArrow {
  position: absolute;
  top: 7px;
  left: -7px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background-color: var(--color-pink);
}

@media screen and (min-width: 500px) {
  .mainMenu {
    flex-direction: row;
    max-width: var(--width-main-menu);;
    justify-content: space-between;
    font-size: var(--font-large);
  }

  .mainMenu a {
    padding-left: 0;
  }

  .mainSubMenu {
    flex-direction: column;
  }

  .mainSubMenu .menuItem:first-child {
    padding-top: 8px;
  }

  .submenu {
    top: 58px;
    left: -20px;
  }

  .submenu a {
    padding-left: 20px;
  }

  .submenuArrow {
    top: -8px;
    left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .mainMenu {
    max-width: 440px;
  }

  .mainMenu:not(.mainSubMenu) {
    line-height: 2.6;
  }

  .submenu {
    top: 67px;
  }
}

@media screen and (min-width: 1100px) {
  .mainMenu {
    max-width: var(--width-main-menu);
  }

}
