@font-face {
  font-family: 'Quantico';
  src: local('Quantico'), url(./fonts/Quantico-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'Quantico-Bold';
  src: local('Quantico-Bold'), url(./fonts/Quantico-Bold.ttf) format('truetype')
}

body {
  margin: 0;
  font-family: 'Quantico', 'Quantico-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
